.style_logo{
    font-family: 'Lobster', sans-serif;
}

.style_footer_button{
    font-size: 1rem;
}


.style_footer{
    text-align:center; margin: 2rem 0; font-family: 'Lobster', sans-serif;
}

.style_header {
    text-align:center; margin: 2rem 0;
}

@media screen and (mx-width:500px) {
    html {
        font-size: 13px;
    }
}